<mat-toolbar color="primary" class="w-60 fixed">
  <span class="title">
    <mat-icon>perm_contact_calendar</mat-icon>
    <span class="desktop">Mantenimiento de personajes</span>
  </span>

  <span class="spacer desktop"></span>

  <div class="buttons">
    <button mat-button (click)="redirect('home')">
      <mat-icon>home</mat-icon>
      Inicio
    </button>
    <button mat-button (click)="redirect('list')">
      <mat-icon>grid_on</mat-icon>
      Listado
    </button>
  </div>
</mat-toolbar>
