.w-60 {
    padding: 0 10%;
}

.title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.spacer {
    flex: 1 1 auto;
}

.buttons {
    display: flex;
    gap: 10px;
    padding-right: 10%;
}