<section>
  <div class="container">
    <h1>Prueba técnica para Caddo</h1>

    <p>
      - Se generará una SPA que contenga un listado paginado de personajes
      históricos, en el que puedan crearse más personajes y al hacer click en
      uno de ellos, se redirija a sus respectivos detalles. <br />
      - Se podrá filtrar por diversas propiedades de los personajes y se verá
      reflejado en la lista. <br />
      - Los datos fueron creados con JSON-Server, almacenando una lista por
      default que va siendo modificada cuando se manipulan sus endpoints.
    </p>
    
    <button mat-raised-button color="primary" (click)="redirect('list')">
        Comenzar
    </button>
  </div>
</section>
