<div mat-table-container class="container-table-list">

  <h1 class="title">Listado de personajes:</h1>

  <app-filters (onSearch)="filterCharacters($event)"></app-filters>

  <table mat-table [dataSource]="characters$" class="mat-elevation-z8">

    @for (column of columns; track column) {
      <ng-container matColumnDef="{{ column }}">
        <th mat-header-cell *matHeaderCellDef>{{ column | titlecase}}</th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </ng-container>
    }
  
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>
